:markdown

  ## Woordje uitleg

  Voor Marianne kon koken stond er voornamelijk [spaghetti met ketchup](http://www.heinz.com/our-food/products/ketchup.aspx) op het menu.
  Maar sinds een goeie dertig jaar groeide het aantal recepten exponentieel.
  Op de [pillekenssaus](http://moederserecepten.be/recipes/14) volgde de betere wereldkeuken met [tagliatelli op z'n moeders](http://moederserecepten.be/recipes/9), [Noord-Afrikaanse gevulde aubergines](http://moederserecepten.be/recipes/3) en [Jambalaya](http://moederserecepten.be/recipes/29).
  Na heel wat geknoei met ringmappen, kookboeken, plastieken mapjes en kilo's Pritt
  durfde Marianne al eens luidop te dromen van een databank met al haar recepten.
  Maar omdat goeie voornemens meestal beperkt blijven tot de eerste week van de vakantie,
  bleef het bij een bescheiden Word-documentje met de naam 'Moederse recepten'.

  Sommige dromen worden op latere leeftijd werkelijkheid.
  Voor haar zestigste verjaardag leek ons een digitaal alternatief wel op zijn plaats.
  En mochten er nog twijfels bestaan over een nuttige tijdsbesteding tijdens het pensioen, is het selecteren,
  uitproberen en inputten van recepten toch alvast een fijn idee.

  [Dat wil er wel in](http://moederserecepten.be/recipes/35)!
