/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 *= require select2
 */

#s2id_e1 {
  width: 470px;
  padding-top:20px;
}

@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
  #s2id_e1 {
    width: 200px;
    padding-top:0px;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  #s2id_e1 {
    width: 300px;
  }
}


.select2-results {
    max-height: 400px !important;
    padding: 0 0 0 4px;
    margin: 4px 4px 4px 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
