<p>Hallo <%= @resource.email %>!</p>

<p>Iemand heeft aangevraagd om je wachtwoord te veranderen, je kan dit doen door op onderstaande link te klikken.</p>

<p><%= link_to 'Verander mijn wachtwoord', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Als je helemaal niet had gevraagd om je wachtwoord te veranderen, mag je deze mail negeren.</p>
<p>Je wachtwoord zal niet veranderen tot je op bovenstaande link klikt en een nieuw wachtwoord ingeeft.</p>
